<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="topnav" id="myTopnav">
  <a href="{{ site.baseurl }}/" class="btn">ABOUT</a>
  <a href="{{ site.baseurl }}/blog/" class="btn">PARTICIPANTS</a>
  <div class="dropdown">
    <button class="dropbtn">ACTIVITIES
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">PUBLICATIONS</a>
      <a href="#">PRESENTATIONS</a>
      <a href="#">IMPACT</a>
      <a href="#">WORKSHOPS</a>
      <a href="#">MEDIA</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">PROJECTS AND LINKS
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">CANTUS ULTIMUS</a>
      <a href="#">LIBER USUALIS</a>
      <a href="#">MUSICLIBS</a>
      <a href="#">ELVIS PROJECT</a>
      <a href="#">JSYMBOLIC2</a>
      <a href="#">TEAMWORK</a>
      <a href="#">TWITTER</a>
      <a href="#">GITHUB</a>
    </div>
  </div>
  <a href="{{ site.baseurl }}/research/" class="btn">BLOG</a>
  <a href="{{ site.baseurl }}/software/" class="btn">OPPORTUNITIES</a>
  <a href="{{ site.baseurl }}/events/" class="btn">CONTACT US</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars" style="font-size: 1.8em;"></i>
  </a>
</div>
