<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar navbar-expand-sm navbar-default navbar-fixed-top" role="navigation">
        <div class="container" id="nav-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}/">SIMSSA</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav nav mr-auto">
<!--                     <li class="active"><a href="/">Home</a></li> -->


                    <li><a href="{{ site.baseurl }}/about">About</a></li>
                    <li><a href="{{ site.baseurl }}/people">Participants</a></li>
                    <!-- <li><a href="/publications">Publications</a></li> -->

                    <li class="dropdown">
                      <a class="dropdown-toggle disabled" data-toggle="dropdown" href="{{ site.baseurl }}/activities">Activities<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                          <li><a href="{{ site.baseurl }}/activities/publications" target="_top">Publications</a></li>
                          <li><a href="{{ site.baseurl }}/activities/presentations" target="_top">Presentations</a></li>
                          <li><a href="{{ site.baseurl }}/activities/impact" target="_top">Impact</a></li>
                          <li><a href="{{ site.baseurl }}/activities/workshops" target="_top">Workshops</a></li>
                          <li><a href="{{ site.baseurl }}/activities/media" target="_top">Media</a></li>
                      </ul>
                    </li>

                    <li class="dropdown">
                      <a class="dropdown-toggle disabled" data-toggle="dropdown" href="{{ site.baseurl }}/links">Projects and links<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="http://cantus.simssa.ca" target="_blank">Cantus Ultimus</a></li>
                        <li><a href="http://liber.simssa.ca" target="_blank">Liber Usualis</a></li>
                        <li><a href="https://musiclibs.net" target="_blank">Musiclibs</a></li>
                        <li><a href="http://elvisproject.ca/ " target="_blank">ELVIS Project</a></li>
                        <li><a href="http://jmir.sourceforge.net/index_jSymbolic.html" target="_blank">jSymbolic2</a></li>
                        <li><a href="http://ddmal.teamwork.com" target="_blank">Teamwork</a></li>
                        <li><a href="http://twitter.com/simssaproject" target="_blank">Twitter</a></li>
                        <li><a href="http://github.com/DDMAL" target="_blank">Github</a></li>
                      </ul>
                    </li>

                    <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                    <li><a href="{{ site.baseurl }}/opportunities">Opportunities</a></li>

                    <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>

                </ul>
            </div>
        </div>
    </div>
